.card__delete-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  background-color: #fff0;
  background-image: url(../../../images/buttons/delete.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  padding: 0;
  transition: opacity .3s linear .2s;
}

.card__delete-button:hover {
  cursor: pointer;
  opacity: .6;
}
