.popup__container {
  display: flex;
  box-sizing: border-box;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 34px 36px 37px;
  margin: 0 59px 0 19px;
  position: relative;
  min-width: 282px;
  max-width: 430px;
  width: 100%;
  min-height: 330px;
}

@media screen and (max-width: 456px) {
  .popup__container {
    min-height: 322px;
    padding: 25px 22px;
    margin: 0 19px;
  }
}
