.card__like-button {
  border: none;
  background-color: white;
  background-image: url(../../../images/buttons/like.svg);
  background-size: 22px 19px;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 22px;
  height: 19px;
  padding: 0;
  transition: opacity .3s linear .2s;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: .5;
}
