.popup__submit {
  background-color: #000;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 14px 0;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  border: none;
}

.popup__submit:hover {
  cursor: pointer;
  opacity: .8;
}
