.popup__close-button {
  background-color: #ffffff00;
  background-image: url(../../../images/buttons/close.svg);
  background-position: center;
  background-size: 32px 32px;
  width: 32px;
  height: 32px;
  border: none;
  position: absolute;
  padding: 0;
  transition: opacity .3s linear .2s;
  top: calc(-32px - 8px);
  right: calc(-32px - 8px);
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 456px) {
  .popup__close-button {
    top: calc(-32px - 16px);
    right: 0;
  }
}
