.card__image-container {
  position: relative;
  width: 282px;
  height: 282px;
  margin: 0;
}

.card__image-container::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(79,79,79, .2);
}
