.profile__info {
  margin: 26px 0 0;
  display: grid;
  row-gap: 16px;
  column-gap: 18px;
  grid-template-areas: "name edit" "subtitle subtitle";
}

@media screen and (max-width: 790px) {
  .profile__info {
    row-gap: 14px;
    column-gap: 10px;
  }
}
